table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hotel-table > :not(caption) > * > * {
    background-color: yellow;
}

.site-navbar {
    width: 80%;
    margin: 0 auto;
    background-color:rgb(38, 153,153);
}

th, td {
    padding: 12px;
    border: 1px solid #f7f7f7;
}

form {
    display: inline;
    margin: 20px auto;
    width: 80%;
    alignment-baseline: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hotel-form-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    background-color: yellow;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.hotel-form-container form {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px;
}

input:focus, select:focus  {
    border: 2px solid  #0056b3 ;
    outline: none;
    box-shadow: 0 0 12px rgba(0, 123, 255, 0.4);

}

button {
    width: 100%;
    padding: 12px;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

}

button:active {
    transform: translateY(0);
    box-shadow: 0 2px  4px rgba(0, 0, 0, 0.2);
} 

a:hover {
    background: linear-gradient(135deg, #0056b3, #004085);   
}
a:active {
    transform: translateY(2px);
}

iframe {
    display: block;
    width: 80%;
    height: 400px;
    margin: 20px auto;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

body {
    font-family: Arial, serif;
    font-size: 20px;
    padding: 20px;
    background-color: rgb(38, 153,153);
    align-items: center;
}

a {
    color: rgb(187, 91, 28);
    margin-right: 10px;
    text-align: center;
}