{% extends "index.html" %}

{% block content %}

<h2>Prepotuke</h2>

<div style="background-color: white; padding: 20px; border-radius: 10px; max-width: 500px; margin: auto; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-align: center;">
<form method="post" action="/filter">
    
    Zvezdice:<br>
    <input type="number" name="zvezdice" min="1" max="5"><br><br>
    
    Ljubimci:<br>
    <select name="ljubimci">
        <option value="">-- Izaberite --</option>
        <option value="1">Da</option>
        <option value="0">Ne</option>
    </select>
    <br><br>
    
    Vrsta smeštaja:<br>
    <input type="text" name="vrsta_smestaja"><br><br>
    
    Obrok:<br>
    <input type="text" name="obrok"><br><br>
    
    <button type="submit">Preporuči</button>
</form>
</div>

{% endblock %}