{% extends "index.html" %}

{% block content %}
    <h2>Lista hotela</h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>Redni broj</th>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Zvezdice</th>
            <th>Ljubimci</th>
            <th>Vrsta smestaja</th>
            <th>Obrok</th>
            <th>Grad</th>
        </tr>
        {% for hotel in hoteli %}
        <tr style="text-align:center;">
            <td>{{ hotel.hotelID }}</td>
            <td>{{ hotel.naziv }}</td>
            <td>{{ hotel.adresa }}</td>
            <td>{{ hotel.zvezdice }}</td>
            <td>
                {% if hotel.ljubimci == 1 %}
                    Da
                {% else %}
                    Ne
                {% endif %}
            </td>
            <td>{{ hotel.vrsta_smestaja }}</td>
            <td>{{ hotel.obrok }}</td>
            <td>{{ hotel.grad }}</td>

        </tr>
        {% endfor %}
    </table>
{% endblock %}