<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stil.css">
    <title>Preporuka hotela</title>
    <style>
        body {
            font-family: Arial, serif;
            font-size: 20px;
            padding: 20px;
            background-color: rgb(38, 153,153);
            align-items: center;
        }
        a {
            color: rgb(187, 91, 28);
            margin-right: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Gde zelite da idete?</h1> 

    <div style="text-align: center; margin: 20px 0;">
    <a href="/">Hoteli</a>
    <a href="/dodaj_smestaj">Dodaj novi hotel</a>
    <a href="/filter">Preporuci mi hotel</a>
    </div>

    <br>

    <main> 
    {% block content %}
    {% endblock %}
    </main>
</body>
</html>