{% extends "index.html" %}

{% block content %}

<h2>Izmeni hotel</h2>

<div style="max-width: 400px; margin: 0 auto;">
<form action="{{ url_for('smestaj.izmeni', hotel_id=hotel.hotelID) }}" method="POST" style="display: flex; flex-direction: column; gap: 10px;">

    <label>Naziv:</label>
    <input type="text" name="naziv" value="{{ hotel.naziv }}">

    <label>Adresa:</label>
    <input type="text" name="adresa" value="{{ hotel.adresa }}">

    <label>Grad:</label>
    <input type="text" name="naziv_grada" value="{{ hotel.grad_naziv }}">

    <input type="hidden" name="grad_id" value="{{ hotel.gradID }}">

    <label>Zvezdice:</label>
    <input type="number" name="zvezdice" value="{{ hotel.zvezdice }}" min="1" max="5">

    <label>Ljubimci:</label>
    <select name="ljubimci">
        <option value="1" {% if hotel.ljubimci == 1 %}selected{% endif %}>Da</option>
        <option value="0" {% if hotel.ljubimci == 0 %}selected{% endif %}>Ne</option>
    </select>

    <label>Vrsta smeštaja:</label>
    <input type="text" name="vrsta_smestaja" value="{{ hotel.vrsta_smestaja }}">

    <label>Obrok:</label>
    <input type="text" name="obrok" value="{{ hotel.obrok }}">

    <button type="submit">Sačuvaj izmene</button>
    <a href="{{ url_for('hoteli.index') }}">Odustani</a>

</form>
</div>

{% endblock %}