{% extends "index.html" %}

{% block content %}

<h2>Izmeni hotel</h2>

<form method="post">

    Naziv hotela:<br>
    <input type="text" name="naziv" value="{{ hotel.naziv }}"><br><br>

    Grad:<br>
    <input type="text" name="grad" value="{{ hotel.grad }}"><br><br>

    Drzava:<br>
    <input type="text" name="drzava" value="{{ hotel.drzava }}"><br><br>

    Kontinent:<br>
    <input type="text" name="kontinet" value="{{ hotel.kontinet }}"><br><br>

    Adresa:<br>
    <input type="text" name="adresa" value="{{ hotel.adresa }}"><br><br>

    Zvezdice:<br>
    <input type="number" name="zvezdice" min="1" max="5" value="{{ hotel.zvezdice }}"><br><br>

    Ljubimci:<br>
    <select name="ljubimci">
        <option value="1" {% if hotel.ljubimci == 1 %}selected{% endif %}>Da</option>
        <option value="0" {% if hotel.ljubimci == 0 %}selected{% endif %}>Ne</option>
    </select><br><br>

    Vrsta smeštaja:<br>
    <input type="text" name="vrsta_smestaja" value="{{ hotel.vrsta_smestaja }}"><br><br>

    Obrok:<br>
    <input type="text" name="obrok" value="{{ hotel.obrok }}"><br><br>

    <button type="submit">Sačuvaj izmene</button>

</form>

{% endblock %}